.cab-details-search .car-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0.5rem;
  gap: 0.5rem;
}
.cab-details-search .big-car {
  grid-column: span 3;
  grid-row: span 2;
  height: 100%;
}

.cab-details-search .yellow {
  grid-column-start: 4;
}

.cab-details-search .review {
  display: flex;
  align-items: center;
}
.cab-details-search .car {
  border-radius: 25px;
}

.cab-details-search .cuscard {
  background: #ffebde;
  border: 1px solid #f36911;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-block: 2rem;
  position: relative;
}

.cab-details-search .cuscard p {
  width: fit-content;
  margin-bottom: 0rem;
  margin-inline: 1rem;
}

.cab-details-search .mt-10 {
  margin-top: 5rem;
}

.cab-details-search .cuscard .floater {
  position: absolute;
  right: 5%;
  top: -100%;
  background-color: white;
  width: 12rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ddd; /* Optional border */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.cab-details-search .floater button {
  background-color: #f36911;
  padding: 0.5rem;
  color: white;
  border-radius: 10px;
  margin-left: 30%;
  width: 60%;
}

.cab-details-search .title {
  font-weight: bold;
}

.cab-details-search .review {
  font-size: small;
  display: flex;
}

.cab-details-search .price {
  margin-left: 5px;
}

.cab-details-search .act-table-ftr {
  display: flex;
  justify-content: space-between;
}

.cab-details-search .checkbox-wrapper-46 {
  width: max-content;
}

.cab-details-search .pt-10 {
  padding-top: 2rem;
}

.cab-details-search .link {
  color: #f36911;
}

.cab-details-search .icons {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.act-block-cnt .flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.act-block-cnt .flex p{
  margin: 0rem;
}
@media (max-width: 768px) {
  .cab-details-search .cuscard {
    flex-direction: column;
  align-items: start;
  gap: 1rem;
}
}
@media (max-width: 575px) {
  .cab-details-search .cuscard {
    flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin-top: 1rem;
}
svg{
  display: none;
}
}