.package-info-form-ui .form-inner label {
  font-size: 14px;
  line-height: 21px;
  color: #3a4252 !important;
  font-weight: 400 !important;
  margin-bottom: 8px !important;
}

.package-info-form-ui .form-inner input,
.package-info-form-ui .form-inner .nice-select,
.package-info-form-ui .form-inner input,
.package-info-form-ui .form-inner textarea {
  border: 1px solid #d5d9e2 !important;
  color: #3a4252 !important;
  font-size: 15px !important;
  line-height: 18px;
  font-weight: 400 !important;
  padding: 16px !important;
}

.dash-drag-drop {
  border: 1px solid #d5d9e2;
  height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dash-drag-drop {
  flex-direction: column;
}

.dash-drag-drop {
  border: 1px solid #d5d9e2;
  height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.dash-drag-drop {
  flex-direction: column;
}

.icon-dash {
  display: flex;
  flex-direction: column;
}

.icon-dash span svg {
  display: inline-block;
  background: #605dff1a;
  width: 32px;
  height: 32px;
  padding: 7px;
  border-radius: 4px;
}

span.browse-text {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid;
  line-height: 16px;
  color: #ffcfb1;
  cursor: pointer;
}

.dash-drag-drop .dd-text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #64748b;
}

.packge-btn-ui button.cancel-btn {
    background: #fd5812;
    border: 1px solid #fd5812;
    border-radius: 6px;
    padding: 12px 25px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.packge-btn-ui button.create-package-btn {
  background: #ffcfb1;
  border: 1px solid #ffcfb1;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding: 8px 18px;
  border-radius: 6px;
  letter-spacing: 0.5px;
}

.product-ctgry-ui h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    color: #3A4252;
    margin-bottom: 15px;
}
.product-ctgry-ui {
    margin-top: -62px;
    padding: 24px;
}

@media (max-width:768px){
    .product-ctgry-ui {
        margin-top: 24px !important;
        padding: 0px;
    }
}
