.top-bar{
    height: 37px;
}
.top-bar p{
    font-size: 68% !important;
}
.topbar-right a{
    height: 15px !important;
    width: 15px !important;
}
.topbar-right i{
    font-size: 0.7rem !important;

}