.footer-input-easy{
    border: 1px solid #ccc5c5;
    min-width: 20rem;
    padding: 0.9rem !important;
    position: relative;
    z-index: -1;
    border-radius: 14px;
}
@media (max-width: 550px) {
.footer-box1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }}